<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Cci.MetadataModel" publicKeyToken="736440c9b414ea16" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.65055.0" newVersion="0.0.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Cci.MetadataHelper" publicKeyToken="736440c9b414ea16" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.65055.0" newVersion="0.0.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Cci.SourceModel" publicKeyToken="736440c9b414ea16" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.65055.0" newVersion="0.0.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Cci.MutableMetadataModel" publicKeyToken="736440c9b414ea16" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.65055.0" newVersion="0.0.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Cci.PdbReader" publicKeyToken="736440c9b414ea16" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.65055.0" newVersion="0.0.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Cci.ILGenerator" publicKeyToken="736440c9b414ea16" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.65055.0" newVersion="0.0.0.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
